.socials {
  margin-top: 2.5rem;
}

.icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.875rem;
}

.title {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .title {
    display: none;
  }

  .socials {
    margin-top: 0;
  }
}
