* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #03110d;
  --gray-600: #f2f2f2;
  --gray-500: #1aa584;
  --gray-900: #03110d;
  --success-message-title: #147c63;
  --primary-400: #dcf8b1;
}

button {
  font-family: "Urbane";
}

html,
body {
  font-family: "Urbane";
  background: #fff;
  color: #111;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 3rem 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
