.menu {
  width: 100%;
  position: relative;
  height: calc(100vh - 5.25rem);
  z-index: 2000;

  display: flex;
  flex-direction: column;
  justify-content: start;

  border-top: 1px solid var(--gray-600);
  background: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-left: 1.563rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-right: 6.625rem;
}

.menu a {
  font-size: 1.125rem;
  font-weight: 500;
}

.footer {
  position: absolute;
  bottom: 0;

  padding: 1rem 0.5rem;
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: var(--gray-600);
}
